In [1]:
import pandas as pd

In [2]:
Employee_data = pd.read_csv("/content/employee_data.csv")
Insurance_data = pd.read_csv("/content/insurance_data.csv")
Vendor_data = pd.read_csv("/content/vendor_data.csv")

In [3]:
Employee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AGENT_ID            1200 non-null   object
 1   AGENT_NAME          1200 non-null   object
 2   DATE_OF_JOINING     1200 non-null   object
 3   ADDRESS_LINE1       1200 non-null   object
 4   ADDRESS_LINE2       179 non-null    object
 5   CITY                1193 non-null   object
 6   STATE               1200 non-null   object
 7   POSTAL_CODE         1200 non-null   int64
 8   EMP_ROUTING_NUMBER  1200 non-null   int64
 9   EMP_ACCT_NUMBER     1200 non-null   object
dtypes: int64(2), object(8)
memory usage: 93.9+ KB

In [4]:
Insurance_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3568 entries, 0 to 3567
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             3568 non-null   object
 1   TRANSACTION_ID            3568 non-null   object
 2   CUSTOMER_ID               3568 non-null   object
 3   POLICY_NUMBER             3568 non-null   object
 4   POLICY_EFF_DT             3567 non-null   object
 5   LOSS_DT                   3567 non-null   object
 6   REPORT_DT                 3567 non-null   object
 7   INSURANCE_TYPE            3567 non-null   object
 8   PREMIUM_AMOUNT            3567 non-null   float64
 9   CLAIM_AMOUNT              3567 non-null   float64
 10  CUSTOMER_NAME             3567 non-null   object
 11  ADDRESS_LINE1             3567 non-null   object
 12  ADDRESS_LINE2             552 non-null    object
 13  CITY                      3554 non-null   object
 14  STATE                     3567 non-null   object
 15  POSTAL_CODE               3567 non-null   float64
 16  SSN                       3567 non-null   object
 17  MARITAL_STATUS            3567 non-null   object
 18  AGE                       3567 non-null   float64
 19  TENURE                    3567 non-null   float64
 20  EMPLOYMENT_STATUS         3567 non-null   object
 21  NO_OF_FAMILY_MEMBERS      3567 non-null   float64
 22  RISK_SEGMENTATION         3567 non-null   object
 23  HOUSE_TYPE                3567 non-null   object
 24  SOCIAL_CLASS              3567 non-null   object
 25  ROUTING_NUMBER            3567 non-null   float64
 26  ACCT_NUMBER               3567 non-null   object
 27  CUSTOMER_EDUCATION_LEVEL  3355 non-null   object
 28  CLAIM_STATUS              3567 non-null   object
 29  INCIDENT_SEVERITY         3567 non-null   object
 30  AUTHORITY_CONTACTED       3567 non-null   object
 31  ANY_INJURY                3567 non-null   float64
 32  POLICE_REPORT_AVAILABLE   3567 non-null   float64
 33  INCIDENT_STATE            3567 non-null   object
 34  INCIDENT_CITY             3548 non-null   object
 35  INCIDENT_HOUR_OF_THE_DAY  3567 non-null   float64
 36  AGENT_ID                  3567 non-null   object
 37  VENDOR_ID                 2403 non-null   object
dtypes: float64(10), object(28)
memory usage: 1.0+ MB

In [5]:
Vendor_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   VENDOR_ID      600 non-null    object
 1   VENDOR_NAME    600 non-null    object
 2   ADDRESS_LINE1  600 non-null    object
 3   ADDRESS_LINE2  97 non-null     object
 4   CITY           594 non-null    object
 5   STATE          600 non-null    object
 6   POSTAL_CODE    600 non-null    int64
dtypes: int64(1), object(6)
memory usage: 32.9+ KB

In [6]:
#for simplicity
Employee_data.rename(columns = {'STATE':'AGENT_STATE'}, inplace = True)
Insurance_data.rename(columns = {'STATE':'CUSTOMER_STATE'}, inplace = True)

Task # 1
Merge the 3 dataset and create 1 view of data.
You can merge insurance_data.csv and employee_data.csv on
AGENT_ID You can merge insurance_data.csv and vendor_data.csv on
VENDOR_ID Note: Use left Outer join as not all claims require Vendor

In [16]:

final_df = pd.merge(pd.merge(Insurance_data, Employee_data,on='AGENT_ID',  how='left'), Vendor_data,on='VENDOR_ID',  how='left')

In [17]:
final_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,AGENT_STATE,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000.0,...,TN,37217.0,35441155.0,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000.0,...,AZ,85301.0,44055451.0,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000.0,...,AL,36105.0,55770246.0,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000.0,...,OK,73071.0,87652976.0,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000.0,...,MD,21061.0,76119019.0,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0

In [18]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3568 entries, 0 to 3567
Data columns (total 53 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   TXN_DATE_TIME             3568 non-null   object
 1   TRANSACTION_ID            3568 non-null   object
 2   CUSTOMER_ID               3568 non-null   object
 3   POLICY_NUMBER             3568 non-null   object
 4   POLICY_EFF_DT             3567 non-null   object
 5   LOSS_DT                   3567 non-null   object
 6   REPORT_DT                 3567 non-null   object
 7   INSURANCE_TYPE            3567 non-null   object
 8   PREMIUM_AMOUNT            3567 non-null   float64
 9   CLAIM_AMOUNT              3567 non-null   float64
 10  CUSTOMER_NAME             3567 non-null   object
 11  ADDRESS_LINE1_x           3567 non-null   object
 12  ADDRESS_LINE2_x           552 non-null    object
 13  CITY_x                    3554 non-null   object
 14  CUSTOMER_STATE            3567 non-null   object
 15  POSTAL_CODE_x             3567 non-null   float64
 16  SSN                       3567 non-null   object
 17  MARITAL_STATUS            3567 non-null   object
 18  AGE                       3567 non-null   float64
 19  TENURE                    3567 non-null   float64
 20  EMPLOYMENT_STATUS         3567 non-null   object
 21  NO_OF_FAMILY_MEMBERS      3567 non-null   float64
 22  RISK_SEGMENTATION         3567 non-null   object
 23  HOUSE_TYPE                3567 non-null   object
 24  SOCIAL_CLASS              3567 non-null   object
 25  ROUTING_NUMBER            3567 non-null   float64
 26  ACCT_NUMBER               3567 non-null   object
 27  CUSTOMER_EDUCATION_LEVEL  3355 non-null   object
 28  CLAIM_STATUS              3567 non-null   object
 29  INCIDENT_SEVERITY         3567 non-null   object
 30  AUTHORITY_CONTACTED       3567 non-null   object
 31  ANY_INJURY                3567 non-null   float64
 32  POLICE_REPORT_AVAILABLE   3567 non-null   float64
 33  INCIDENT_STATE            3567 non-null   object
 34  INCIDENT_CITY             3548 non-null   object
 35  INCIDENT_HOUR_OF_THE_DAY  3567 non-null   float64
 36  AGENT_ID                  3567 non-null   object
 37  VENDOR_ID                 2403 non-null   object
 38  AGENT_NAME                3567 non-null   object
 39  DATE_OF_JOINING           3567 non-null   object
 40  ADDRESS_LINE1_y           3567 non-null   object
 41  ADDRESS_LINE2_y           507 non-null    object
 42  CITY_y                    3546 non-null   object
 43  AGENT_STATE               3567 non-null   object
 44  POSTAL_CODE_y             3567 non-null   float64
 45  EMP_ROUTING_NUMBER        3567 non-null   float64
 46  EMP_ACCT_NUMBER           3567 non-null   object
 47  VENDOR_NAME               2403 non-null   object
 48  ADDRESS_LINE1             2403 non-null   object
 49  ADDRESS_LINE2             421 non-null    object
 50  CITY                      2391 non-null   object
 51  STATE                     2403 non-null   object
 52  POSTAL_CODE               2403 non-null   float64
dtypes: float64(13), object(40)
memory usage: 1.5+ MB

Task #2
Business Leader wants to find Top 3 Insurance Type where we are getting
most insurance claims?

In [9]:
TASK2 = Insurance_data.groupby('INSURANCE_TYPE')['CLAIM_AMOUNT'].sum()
print("Top 3 Insurance Type where we are getting most insurance claims")
TASK2.sort_values(ascending = False)[:3]

Top 3 Insurance Type where we are getting most insurance claims

INSURANCE_TYPE
Life        33195000.0
Property    15056000.0
Health       6140000.0
Name: CLAIM_AMOUNT, dtype: float64

In [10]:
print("Most number of Insurance type is taken")
Insurance_data['INSURANCE_TYPE'].value_counts()

Most number of Insurance type is taken

Property    610
Mobile      610
Life        606
Travel      596
Health      580
Motor       565
Name: INSURANCE_TYPE, dtype: int64

Task #3
Business Leader wants to find Top 5 States where we are getting most insurance claims
for customer belonging to HIGH(H) risk segment?

In [11]:
df4=Insurance_data[Insurance_data['RISK_SEGMENTATION']=='H']

In [12]:
df4['CUSTOMER_STATE'].value_counts().head(5)

CA    53
AZ    49
AR    38
CT    36
GA    35
Name: CUSTOMER_STATE, dtype: int64

Task #4
Business wants to create a new variable “COLOCATION” which will have following values IF
Customer State == Incident State == Agent Address State THEN 1 ELSE 0
Find the mean of this new column

In [19]:
COLOCATION=[]
for i in range (0,3568):
  if final_df['CUSTOMER_STATE'][i] == final_df['INCIDENT_STATE'][i] == final_df['AGENT_STATE'][i]:
    COLOCATION.append(1)
  else:
    COLOCATION.append(0)
final_df['COLOCATION'] = COLOCATION
print("the mean of this new column",final_df['COLOCATION'].mean())

the mean of this new column 0.003923766816143498

In [20]:
final_df1 = final_df

Task #5 Data entry error was detected in the data and you are required to correct it. If for any
claim transaction “AUTHORITY_CONTACTED” is NOT “Police” and POLICE_AVAILABLE == 1
Then Update “AUTHORITY_CONTACTED” to Police.

In [22]:
for i in range (0,3568):
  if final_df['POLICE_REPORT_AVAILABLE'][i] == 1:
    final_df['AUTHORITY_CONTACTED'][i]= 'police'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
final_df.head()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000.0,...,37217.0,35441155.0,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000.0,...,85301.0,44055451.0,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000.0,...,36105.0,55770246.0,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000.0,...,73071.0,87652976.0,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000.0,...,21061.0,76119019.0,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0

Task #7
Find All Agents who have worked on more than 2 types of Insurance Claims. Sort them by
Total Claim Amount Approved under them in descending order

In [24]:
Employee_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AGENT_ID            1200 non-null   object
 1   AGENT_NAME          1200 non-null   object
 2   DATE_OF_JOINING     1200 non-null   object
 3   ADDRESS_LINE1       1200 non-null   object
 4   ADDRESS_LINE2       179 non-null    object
 5   CITY                1193 non-null   object
 6   AGENT_STATE         1200 non-null   object
 7   POSTAL_CODE         1200 non-null   int64
 8   EMP_ROUTING_NUMBER  1200 non-null   int64
 9   EMP_ACCT_NUMBER     1200 non-null   object
dtypes: int64(2), object(8)
memory usage: 93.9+ KB

In [25]:
final_df['AGENT_NAME'].value_counts()>=2

Frances Kimble        True
Gladys Parsons        True
Josephine Kraemer     True
Robert Ward           True
Tracy Straight        True
                     ...
Leigh Stogsdill      False
Charles Dennison     False
Dominique Touhey     False
Rosemary Turman      False
Charles Tabares      False
Name: AGENT_NAME, Length: 1139, dtype: bool

In [26]:
Task7 = final_df.groupby('AGENT_NAME')['CLAIM_AMOUNT'].sum()
#Sort them by Total Claim Amount Approved under them in descending order
Task7.sort_values(ascending = False)

AGENT_NAME
Clara Barnett      407000.0
Don Filkins        303000.0
Phillip Moore      234000.0
Kelli Miles        227000.0
Jose Dame          211000.0
                     ...
Kelli Rivas           200.0
Joel Buss             100.0
Rosemary Turman       100.0
John Roten            100.0
Betty Walker          100.0
Name: CLAIM_AMOUNT, Length: 1139, dtype: float64

Task #8
Mobile & Travel Insurance premium are discounted by 10%
Health and Property Insurance premium are increased by 7%
Life and Motor Insurance premium are marginally increased by 2%
What will be overall change in % of the Premium Amount Collected for all these Customer?

In [40]:
final_df.tail()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
3563,2020-10-23 00:00:00,TXN00003564,A00001141,PLC00000146,2011-11-18,2020-10-16,2020-10-18,Motor,122.72,7000.0,...,73112.0,67592409.0,KYSN26778057936347,NaN,NaN,NaN,NaN,NaN,NaN,0
3564,2020-10-23 00:00:00,TXN00003565,A00005888,PLC00003958,2016-03-02,2020-10-11,2020-10-16,Property,85.33,22000.0,...,2343.0,83739602.0,JZWU32952168308378,"Trujillo, Jones and Sloan",1508 Massachusetts Avenue Southeast,NaN,Washington,DC,20003.0,0
3565,2020-10-23 00:00:00,TXN00003566,A00008282,PLC00003818,2011-05-17,2020-10-05,2020-10-10,Motor,127.22,4000.0,...,94536.0,117692246.0,JILP51941436097769,Hardy Inc,2732 Rosedale Place,NaN,Nashville,TN,37211.0,0
3566,2020-10-23 00:00:00,TXN00003567,A00001827,PLC00009754,2012-01-12,2020-10-19,2020-10-20,Mobile,7.87,400.0,...,2673.0,127864954.0,RTKX42239312918907,NaN,NaN,NaN,NaN,NaN,NaN,0
3567,2020-10-23 00:00:00,TXN00003568,A00007926,PLC0000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [46]:
#before that we should drop last row because max. varible is nan over there
#final_df.drop([3567], axis=0, inplace=True)
final_df.tail()

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
3562,2020-10-23 00:00:00,TXN00003563,A00000397,PLC00007031,2010-10-01,2020-10-22,2020-10-22,Life,99.67,97000.0,...,72701.0,118821676.0,LYCA65725413836979,NaN,NaN,NaN,NaN,NaN,NaN,0
3563,2020-10-23 00:00:00,TXN00003564,A00001141,PLC00000146,2011-11-18,2020-10-16,2020-10-18,Motor,122.72,7000.0,...,73112.0,67592409.0,KYSN26778057936347,NaN,NaN,NaN,NaN,NaN,NaN,0
3564,2020-10-23 00:00:00,TXN00003565,A00005888,PLC00003958,2016-03-02,2020-10-11,2020-10-16,Property,85.33,22000.0,...,2343.0,83739602.0,JZWU32952168308378,"Trujillo, Jones and Sloan",1508 Massachusetts Avenue Southeast,NaN,Washington,DC,20003.0,0
3565,2020-10-23 00:00:00,TXN00003566,A00008282,PLC00003818,2011-05-17,2020-10-05,2020-10-10,Motor,127.22,4000.0,...,94536.0,117692246.0,JILP51941436097769,Hardy Inc,2732 Rosedale Place,NaN,Nashville,TN,37211.0,0
3566,2020-10-23 00:00:00,TXN00003567,A00001827,PLC00009754,2012-01-12,2020-10-19,2020-10-20,Mobile,7.87,400.0,...,2673.0,127864954.0,RTKX42239312918907,NaN,NaN,NaN,NaN,NaN,NaN,0

In [32]:
discount_pre=[]
for i in range(0,3568):
  if final_df['INSURANCE_TYPE'][i]=='Health' or final_df['INSURANCE_TYPE'][i]== 'Property':
    discount_pre.append(final_df['PREMIUM_AMOUNT'][i]*1.07)
  elif final_df['INSURANCE_TYPE'][i]=='Mobile' or final_df['INSURANCE_TYPE'][i]== 'Travel':
    discount_pre.append(final_df['PREMIUM_AMOUNT'][i]*0.90)
  elif final_df['INSURANCE_TYPE'][i]=='Life' or final_df['INSURANCE_TYPE'][i]== 'Motor':
    discount_pre.append(final_df['PREMIUM_AMOUNT'][i]*1.02)

In [48]:
final_df['NEW_PREMIUM'] = discount_pre

In [49]:
#What will be overall change in % of the Premium Amount Collected for all these Customer?
(final_df['NEW_PREMIUM'].sum()-final_df['PREMIUM_AMOUNT'].sum())*100/final_df['PREMIUM_AMOUNT'].sum()

2.659756671685502

Task #9 Business wants to give discount to customer who are loyal and under stress due to Covid
19. They have laid down an eligibility Criteria as follow
IF CUSTOMER_TENURE > 60 AND EMPLOYMENT_STATUS = “N”
AND NO_OF_FAMILY_MEMBERS >=4 THEN 1 ELSE 0
Create a new column “ELIGIBLE_FOR_DISCOUNT” and find it
mean.

In [50]:
ELIGIBLE_FOR_DISCOUNT=[]
for i in range(0,3567):
  if Insurance_data['TENURE'][i] > 60 and Insurance_data['EMPLOYMENT_STATUS'][i] =='N' and Insurance_data['NO_OF_FAMILY_MEMBERS'][i] >= 4:
    ELIGIBLE_FOR_DISCOUNT.append(1)
  else:
    ELIGIBLE_FOR_DISCOUNT.append(0)

In [51]:
final_df['ELIGIBLE_FOR_DISCOUNT'] = ELIGIBLE_FOR_DISCOUNT
final_df.head()
print("the mean of this new column",final_df['ELIGIBLE_FOR_DISCOUNT'].mean())

the mean of this new column 0.033081020465377066

Task 11 Find all low performing agents i.e. employees who are in the bottom 5 percentile based
on Claims worked by them.

In [53]:
Task11 = final_df.groupby('AGENT_NAME')['CLAIM_AMOUNT'].sum()
#Sort them by Total Claim Amount Approved under them in descending order
Task11.sort_values(ascending = True).head()

AGENT_NAME
Joel Buss          100.0
Betty Walker       100.0
John Roten         100.0
Rosemary Turman    100.0
Fred Watson        200.0
Name: CLAIM_AMOUNT, dtype: float64

In [56]:
final_df.to_excel("final_df.xlsx")